.logo {
    width: 100px;
}

.color {
    color: #0070D1;
}

.background_img {
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
    
}