.logo {
    width: 100px;
}

.color {
    color: #0070D1;
}

.background_img {
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 115px;
    height: 100vh;
}

.img_returnal {
    width: 300px;
    margin-top: 650px;
}

.inizio {
    width: 350px;
}